<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <head>Login Here </head>
    <h2>Fill Up the Details</h2>
    <form action="/base/login-user" , method="POST">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <input type="email" name="email" placeholder="Enter your emai : " required>
        <input type="password" name="password" placeholder="Enter your password :" required>
        <br>
        <button type="submit"> Login </button>
        <p>
            Click above button to login
        </p>
    </form>
</body>

</html>